<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
  
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
   <link rel="stylesheet" href="static/libs/style.css">
   <script src="static/libs/jquery-3.2.1.min.js"></script>
   <script src="static/libs/jquery-ui.min.js"></script>

<script type="text/javascript" charset="utf-8">

    $(function() {
        $("#tabs").tabs({
            event: "click"
        });
    });

    function getDBValues() {
        $.ajax({
      type: "GET",
      url: "/dbdataAll",
      success:function(data) 
      { 
        data = JSON.parse(data);

        for(item of data){
            $('#db-values-table').append(
                '<tr>'+
                    '<td class="id-number">'+
                        item[0]+
                    '</td>'+
                    '<td> <div style="height: 1rem; overflow:hidden">'+
                        item[1]+
                    '</div></td>'+
                    '<td>'+
                        '<button class="ui-button ui-widget ui-corner-all" onClick="plotGraphFromDB('+item[0]+')" style="background-color: #00cc66">vykresliť</button>'+
                    '</td>'+
                '</tr>')
                .html(); 
        }
      }
    }).done(function( o ) {
       // do something
    });  
    }

    function plotGraphFromDB(id) {
            var iframe = document.getElementById('db-graph-iframe');
            var data = {message: id};
            iframe.contentWindow.postMessage(data, '*');
        }
        
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        let data = JSON.parse(msg.data);
        $('#live-data').append('<li> Received #'+msg.count+': '+ msg.data +'</li>').html(); 
      });

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal').click(function(event) {
          //console.log($('#buttonVal').val());
          socket.emit('db_event', {value: $('#buttonVal').val()});
          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Stop");
          }
          else {
            $(this).val("start");
            $(this).text("Start");
          }
          return false; }); 
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
 </head>
 <body>

        

    <h1>IOT aplikácia pre vzdialenosť, teplotu a vlhkosť</h1>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
        <input type="submit" value="Echo">
    </form>
    <button id="buttonVal" type="submit" value="start">Start</button>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form> 

    <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Výpis regulovaných hodnôt</a></li>
          <li><a href="#tabs-2">Live graf</a></li>
          <li><a href="#tabs-3">Live ciferníky</a></li>
          <li onClick="getDBValues()"><a href="#tabs-4">Data z DB</a></li>
          <li><a href="#tabs-5">lorem ipsum</a></li>
        </ul>
        
        <div id="tabs-1">
          <h3>HODNOTY</h3>
              <ul id="live-data">
              </ul>
        </div>

        <div id="tabs-2">
            <h3>Live graf</h3>
            <iframe src="/graphlive" width="640" height="320"></iframe>
        </div>
        <div id="tabs-3">
            <h3>Live ciferníky</h3>
            <iframe src="/gaugelive" width="960" height="320"></iframe>
        </div>
        <div id="tabs-4">
            <h3>Dáta z databázy</h3>
            <table id="db-values-table">
                <tr>
                    <th width="40px">id</th>
                    <th>hodnoty</th>
                    <th>akcia</th>
                </tr>
            </table>
 
            <iframe id="db-graph-iframe" src="/graphDB"  width="640" height="320"></iframe>
 
        </div>
        <div id="tabs-5">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
            <button>A button element</button>
            <button class="ui-button ui-widget ui-corner-all">A button element</button>
        </div>
      </div>


    <!-- 
    <h2>Receive:</h2>
    <div id="log"></div>
    -->
 </body>
</html>
