<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
  
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
   <link rel="stylesheet" href="static/libs/style.css">
   <script src="static/libs/jquery-3.2.1.min.js"></script>
   <script src="static/libs/jquery-ui.min.js"></script>

<script type="text/javascript" charset="utf-8">

    $(function() {
        $("#tabs").tabs({
            event: "click"
        });
    });

    function getDBValues() {
        $.ajax({
      type: "GET",
      url: "/dbdataAll",
      success:function(data) 
      { 
        data = JSON.parse(data);        
        $('#db-values-table').html(
        '<tr><th width="40px">id</th><th>hodnoty</th><th>akcia</th></tr>');
        for(item of data){
            $('#db-values-table').append(
                '<tr>'+
                    '<td class="id-number">'+
                        item[0]+
                    '</td>'+
                    '<td> <div style="height: 1rem; overflow:hidden">'+
                        item[1]+
                    '</div></td>'+
                    '<td>'+
                        '<button class="ui-button ui-widget ui-corner-all" onClick="plotGraphFromDB('+item[0]+')" style="background-color: #00cc66">vykresliť</button>'+
                    '</td>'+
                '</tr>')
                .html(); 
        }
      }
    }).done(function( o ) {
       // do something
    });  
    }

    function plotGraphFromDB(id) {
            var iframe = document.getElementById('db-graph-iframe');
            var data = {message: id};
            iframe.contentWindow.postMessage(data, '*');
        }
        
        function plotGraphFromFile(id) {
            var iframe = document.getElementById('file-graph-iframe');
            var data = {message: id};
            iframe.contentWindow.postMessage(data, '*');
        }

    function getFileValues() {
        $.ajax({
      type: "GET",
      url: "/filedataAll",
      success:function(data) 
      { 
        data = JSON.parse(data);  

        $('#file-values-table').html(
        '<tr><th width="40px">číslo riadku</th><th>hodnoty</th><th>akcia</th></tr>');
        let counter = 1;
        for(item of data){
            $('#file-values-table').append(
                '<tr>'+
                    '<td class="id-number">'+
                        counter+
                    '</td>'+
                    '<td> <div style="height: 1rem; overflow:hidden">'+
                        item+
                    '</div></td>'+
                    '<td>'+
                        '<button class="ui-button ui-widget ui-corner-all" onClick="plotGraphFromFile('+counter+')" style="background-color: #00cc66">vykresliť</button>'+
                    '</td>'+
                '</tr>')
                .html(); 
            counter++;
        }
      }
    }).done(function( o ) {
       // do something
    });  
    }
    
     $(document).ready(function() {
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        let data = JSON.parse(msg.data);
        $('#live-data').append('<li> Received #'+msg.count+': '+ msg.data +'</li>').html(); 
      });

      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal').click(function(event) {
          //console.log($('#buttonVal').val());
          socket.emit('db_event', {value: $('#buttonVal').val()});
          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Stop");
          }
          else {
            $(this).val("start");
            $(this).text("Start");
          }
          return false; }); 
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
 </head>
 <body>

        

    <h1>IOT aplikácia pre vzdialenosť, teplotu a vlhkosť</h1>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_value" id="emit_value" placeholder="frekvencia v sekundách">
        <input type="submit" value="nastaviť">
    </form>
    <button id="buttonVal" type="submit" value="start">Start</button>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form> 

    <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Výpis regulovaných hodnôt</a></li>
          <li><a href="#tabs-2">Live graf</a></li>
          <li><a href="#tabs-3">Live ciferníky</a></li>
          <li onClick="getDBValues()"><a href="#tabs-4">Data z DB</a></li>
          <li onClick="getFileValues()"><a href="#tabs-5">Data zo súboru</a></li>
        </ul>
        
        <div id="tabs-1">
          <h3>HODNOTY</h3>
              <ul id="live-data">
              </ul>
        </div>

        <div id="tabs-2">
            <h3>Live graf</h3>
            <iframe src="/graphlive" width="640" height="320"></iframe>
        </div>
        <div id="tabs-3">
            <h3>Live ciferníky</h3>
            <iframe src="/gaugelive" width="960" height="320"></iframe>
        </div>
        <div id="tabs-4">
            <h3>Dáta z databázy</h3>
            <table id="db-values-table">

            </table>

            <iframe id="db-graph-iframe" src="/graphDB"  width="640" height="320"></iframe>
        </div>

        <div id="tabs-5">
            <h3>Data zo súboru</h3>
            <table id="file-values-table">
            </table>
 
            <iframe id="file-graph-iframe" src="/graphFile"  width="640" height="320"></iframe>
 
        </div>      
    </div>


    <!-- 
    <h2>Receive:</h2>
    <div id="log"></div>
    -->
 </body>
</html>
